
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee');
/* Root CSS */

.App{
  background: #C33764;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Poppins', sans-serif;
}


.enactus-home-heading {
  font-size: 12vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 23vh;
  background-image: linear-gradient(90deg, #c97e64, #d8a679 11.46%, #97d9d7 33.33%, #e99e52);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: -10vh;
  margin-top: -15vh;
  font-weight: 600;
}


.he{
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: white;
  font-size: large;
  cursor: pointer;
}
.background-div{
  background-image: url('./image.png');
  background-attachment: fixed;
  background-size: cover;
  /* background-image: url('https://aptosfoundation.org/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbg-texture.e06eb05a.webp&w=1420&q=100'); */
}

.background-div-two{
  background-image: url('https://aptosfoundation.org/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbg-texture.e06eb05a.webp&w=1420&q=100');
  font-family: 'Poppins',sans-serif;
  color: white;
}

.logo{
  background-image: url('./cupcake_logo.png');
  background-size: 150% 150%; 
  background-position: center;
  height:20vh;
  width:15vw;
  margin:0;
  padding:0;
  /* background-color: rebeccapurple; */
  margin-bottom:0.5rem;
  margin-left:-4vw;
  margin-right:-5vw;
}

.root-container-style{
  align-self: center;
  align-items: center;
 
  display: flex;
}

.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
}
/* Dashboard CSS */

.meow {
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  margin-right: 0.5vw;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  transition: 'background-color 0.3s ease'
}

.meow:hover {
  background-color: #45a049;
}

.heading{
  background: -webkit-linear-gradient(45deg, #FFB4AF, #9CE17B, #8A42FF, #FFB4AF, #9CE17B, #8A42FF);
  text-transform: lowercase;
  /* font-size: x-large; */
  font-size: 32px;
  font-family: Bungee;
  font-weight: 400;
  word-wrap: break-word;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 3vh;
  padding-left: 1vw;
  padding-top: 4vh;
  background-size: 400% 400%;
  animation: grad 12s linear infinite;

}
.create-basket{
  
  /* height:35vh; */
  border-radius: 0.7rem;
background: #7764FC;
box-shadow: -25px 25px 50px 0px rgba(34, 32, 46, 0.81), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
display: flex;
align-items: center;
justify-content: center;
padding:0;
padding-top:0.7rem;
padding-bottom:0.7rem;
transition: 0.6s ease-in-out;

}
.create-basket:hover,.form:hover{
  cursor: pointer;
  box-shadow: none;
  transition: 0.6s ease-in-out;
}

.create-basket .left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:50%;
  /* background-color: aqua; */
  margin-left:0rem;
  margin-right:0;
padding:0;}

.create-basket .left h2,.create-basket .left h5{
  color: white;
font-size: 20px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 4vh;
margin:0.5rem;
}
.create-basket .left h5{
  font-size: 15px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 100;
  margin-top:0;
  width:90%;
}

.create-basket .right{
  background-image: url('./ball.gif');
background-blend-mode: multiply;
filter: drop-shadow(10px 10px 20px rgba(77, 66, 152, 0.81));
  background-size: 150% 150%; 
  background-position: center;
  height:7rem;
  width:7rem;
  margin:0;
  padding:0;
  /* background-color: rebeccapurple; */
  /* margin:-5rem; */
}

.profile{
  border-radius: 0.5rem;
  box-shadow: -25px 25px 50px 0px rgba(34, 32, 46, 0.81), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

 background-color: #C683D7;
  
height:100px;
width:90%;
margin-left:-1vw;
margin-bottom:0;
}


@keyframes grad {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

